<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cherepanovk.feature_alarm_impl">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application>



        <receiver
            android:name="ru.cherepanovk.feature_alarm_impl.notifications.NotificationActionsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="@string\action_call" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ru.cherepanovk.feature_alarm_impl.notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="@string/intent_callback_notification_service" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.cherepanovk.feature_alarm_impl.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <!--For HTC devices-->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
            android:name="ru.cherepanovk.feature_alarm_impl.callservices.CallNotificationService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>