<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cherepanovk.feature_alarm_impl">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <receiver
            android:name="ru.cherepanovk.feature_alarm_impl.notifications.NotificationActionsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="@string\action_call" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ru.cherepanovk.feature_alarm_impl.notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="intent_callback_notification_service" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.cherepanovk.feature_alarm_impl.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="ru.cherepanovk.feature_alarm_impl.alarm.NotificationAlarmService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>